In [87]:
import pandas as pd

Load the file african_econ_crises.csv

In [88]:
df = pd.read_csv("./african_econ_crisis.csv")
df

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

Read the first 5 lines

In [89]:
df.head(5)

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

How many countries have inflation data in the dataset?

In [90]:
df["country"].count()

np.int64(1059)

Which countries are represented in the dataset?

In [91]:
df["country"]

0        Algeria
1        Algeria
2        Algeria
3        Algeria
4        Algeria
          ...
1054    Zimbabwe
1055    Zimbabwe
1056    Zimbabwe
1057    Zimbabwe
1058    Zimbabwe
Name: country, Length: 1059, dtype: object

Which country has the highest inflation?

In [92]:
df.groupby("country")["inflation_annual_cpi"].max().reset_index().head(1)

   country  inflation_annual_cpi
0  Algeria             69.230769

In what year did Kenya experience its first systemic crisis?

In [93]:
df[df["country"] == "Kenya"].groupby("year").sum().sort_values(by="year",ascending=True).reset_index().head(1)

,year,case,cc3,country,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1948,35,KEN,Kenya,0,4.9582,0,0,0.0,9.339831,0,0,0,no_crisis

How many systemic crises have occurred in each country?

In [94]:
df.groupby("country")["systemic_crisis"].sum().sort_values(ascending=False).reset_index()

                     country  systemic_crisis
0   Central African Republic               19
1                   Zimbabwe               15
2                      Kenya               13
3                    Nigeria               10
4                      Egypt                6
5                    Tunisia                5
6                     Zambia                4
7                    Algeria                4
8                Ivory Coast                4
9                    Morocco                2
10                    Angola                0
11                 Mauritius                0
12              South Africa                0

How many debt defaults has Zimbabwe had?

In [95]:
df[df["country"] == "Zimbabwe"]["domestic_debt_in_default"].sum()

np.int64(30)

What is the highest exch_usd value for Algeria, and in which year did it occur?

In [96]:
df[df["country"] == "Algeria"].groupby("year").sum().sort_values(by="exch_usd",ascending=False).reset_index().head(1)

,year,case,cc3,country,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,2014,1,DZA,Algeria,0,87.970698,0,0,0.0,2.917,1,0,0,no_crisis